/* .image-container {
    position: relative;
    display: inline-block;
    width: 100% !important;
  }
  
  .img {
    max-width: 90vw;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #1976d2;
    padding: 10px;
    font-size: 18px;
    display: flex;
    display: -webkit-box;
    justify-content: center;
  }
  h6.surveyheaing {
    display: inline-flex;
    display: end;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 18rem;
} */
